body {
  width: 100%;
  height: 300px;
  background-size: cover;
  color: black;
  background-color: grey;
}
#L, #P, #S {
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  body {
    text-align: center;
  }
#L {background-color: white;} /* Lapis */
#P {background-color: Orange;} /* Papyrus */
#S {background-color: Red;} /* Scalpellus */